<form method="post" action="/memos/new">
  <h2>メモタイトル</h2>
  <p>
    <input type="text" name="new_title" maxlength=30>
  </p>
  <h2>メモ内容</h2>
  <p>
    <textarea name="new_content" maxlength=300></textarea>
  </p>
  <br>
  <input type="submit" value="新規作成">
</form>
