<h2>メモタイトル</h2>
<p>
<%= sanitize(@link_memo[:title]) %>
</p>
<h2>メモ本文</h2>
<p class="memo_content">
<%= sanitize(@link_memo[:content]) %>
</p>
<br>
<form method="get" action="/memos/<%= @link_memo[:id] %>/edit">
  <input type="submit" value="変更">
</form>
<form method="post" action="/memos/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="text" name="delete_id" value="<%= @link_memo[:id] %>" hidden>
  <input type="submit" value="削除">
</form>
