<form method="get" action="/new_memo">
  <input type="submit" value="新規作成">
</form>
<h2>メモタイトル一覧</h2>
<p>
  <ul type="disc">
    <% @top_data.each do |t_d| %>
      <li><a href="/show_memo/<%= t_d[:id] %>"><%= t_d[:title] %></a><br></li>
    <% end %>
  </ul>
</p>
